page-home {
  ion-title{
    margin-top: 10px;
  }
  .logo{    
    width: 80vw;
    margin: 10px auto auto;
    display: block;
  }
  .no-padding-left{
    padding-left: 0
  }
  .card-md{
    width: 100%;
    height: 75px;
    // margin: 10px 0 10px 0;
    margin: 10px 0 10px 0;
  }
  .cotizar{
    height: 4rem;
  }
  .error{
    .item-inner{
      border-bottom-color: red;
      box-shadow: inset 0 -1px 0 0 red;
    }
  }
  
}
