<ion-title text-center>
  Cotizador
</ion-title>

<ion-content padding text-center>
  <img src="assets/ESLogo.png" alt="Escudo Seguros" class="logo">


  <input *ngIf="importExcelFiles == true" (change)='getData($event)' type="file" multiple accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">

  <ion-item class="no-padding-left">
    <ion-label stacked>Suma asegurada</ion-label>
    <ion-input #priceInput placeholder="Ingrese el monto aquí" type="tel" [(ngModel)]="price" (input)="isNumber($event,priceInput)" required></ion-input>
  </ion-item>

  <ion-item class="no-padding-left">
    <ion-label stacked>Zona</ion-label>
    <ion-select [(ngModel)]="zona" (ionChange)="getVehiculos($event)">
      <ion-option *ngFor="let zona of zonas" [value]="zona">
        {{ zona.name }}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item class="no-padding-left" interface="action-sheet">
    <ion-label stacked>Tipo de vehiculo</ion-label>
    <ion-select [(ngModel)]="vehiculo" (ionChange)="getCoberturas($event)">
      <ion-option *ngFor="let vehiculo of vehiculos" [value]="vehiculo">
        {{ vehiculo.name }}
      </ion-option>
    </ion-select>
  </ion-item>

  <button block ion-button class="cotizar" color="primary" margin-top (click)="cotizar(priceInput)">
    <p>Cotizar ahora</p>
    <ion-icon name="md-arrow-down"></ion-icon>
    </button>

  <ion-item *ngIf="showCobertura" class="no-padding-left" margin-bottom>
    <ion-label>Coberturas</ion-label>
  </ion-item>

  <ion-list *ngIf="showCobertura">
    <ion-card class="flex" *ngFor="let card of cards">
      <div>
        <p>{{ card.name }}</p>
      </div>
      <div>
        <p><span *ngIf="card.value != 0">$</span>{{ (card.value != 0) ? card.value : "No tiene" }}</p>
      </div>
    </ion-card>
    <ion-card class="flex cotizarCC" (click)="cotizarCC()">
      <p>CRISTALES Y CERRADURAS</p>
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </ion-card>
  </ion-list>


</ion-content>