page-home {
  ion-title{
    margin-top: 10px;
  }
  .logo{    
    width: 80vw;
    margin: 20px auto 35px;
    display: block;
  }
  .cotizar{
    height: 4rem;
  }
  .flex{
    display: flex;
    flex-direction: row;
    height: 85px;
    div{
      display: flex;
      p,ion-icon{
        margin: auto;
      }
      p{
        font-size: 2.3rem;
        color: white;
      }
      ion-icon{
        font-size: 3rem;
        color: #444;
      }
      &:nth-child(1){
        height: 100%;
        width: 120px;
        background-color: #387EF5;
        margin: 0;
      }
      &:nth-child(2){
        margin: auto;
        p{
          color: #10893E;
        }
      }
    }
  }
  .cotizarCC{
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 50px;
    color: #FFF;
    background-color: #26a69a;
    p{
      color: #FFF;
      flex: 1;
    }
    ion-icon{
      font-size: 2.5rem;
    }
  }
}
