page-home {
  ion-title{
    margin-top: 10px;
  }
  .logo{    
    width: 80vw;
    margin: 10px auto auto;
    display: block;
  }
  .no-padding-left{
    padding-left: 0
  }
  .card-md{
    width: 100%;
    margin: 10px 0 10px 0;
  }
  .cotizar{
    height: 4rem;
  }

}
